@use "../../foundation/globals" as g;
@use "../../foundation/mq" as mq;

#c-logo {
  font-family: g.$webfont-sub;
  color: g.$primary-point;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 60px;
  font-weight: normal;
  text-shadow: 4px 4px 0px g.$primary-base, 8px 8px 0px g.$primary-sub;
  @include mq.mq(xs) {
    font-size: 3rem;
    margin-bottom: 40px;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}

.c-logo__txt {
  display: inline-block;
  animation: jump 0.6s ease forwards;
  animation-delay: calc(var(--i) * 50ms);
}
